#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.completed{
  color: green;
  text-decoration: line-through;
}

input{
  height: 35px;
  border: none;
  padding: 7px;
  width: 300px;
  font-size: 20px;
}

.todoList{
  margin: 20px;
}